<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zbc.androiddevelomentartdemo">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE" />

    <application
        android:name=".application.MApplication"
        android:allowBackup="true"
        android:icon="@mipmap/list_ic_message_huodong"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.CustomViewActivity"/>
        <activity android:name=".activity.FrameTestActivity" />
        <activity android:name=".activity.FrameAnimationActivity" />
        <activity android:name=".activity.PropertyAnimationActivity" />
        <activity android:name=".activity.ViewAnimationActivity" />
        <activity android:name=".activity.DemoAnimationActivity" />
        <activity android:name=".activity.DrawableTestActivity" />
        <activity android:name=".activity.BadgeDemoActivity" />
        <activity android:name=".activity.RemoteViewDemoActivity" />
        <activity android:name=".activity.IBinderTestActivity" />
        <activity android:name=".activity.ScrolllConflictActivity" />
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.DemoTestActivity" /> <!-- android:process=":remote" -->
        <activity android:name=".activity.GuestureDelectorActivity" />

        <service
            android:name=".service.ServerService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote" />
    </application>

</manifest>