<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.custom_round_view">

    <application
        android:allowBackup="true"
        android:label="@string/app_name">
        <activity
            android:name=".RoundViewMainActivity"
            android:exported="true"></activity>
    </application>

</manifest>